.Admin_main{
    width: 100%;
    height: 663px;
    position: absolute;
    background-color: #F4ECDC;
}


.Nav_link{
    display: inline-block;
    margin: 15px 30px;
    color: black;
    text-decoration: none;
    position: relative;

    transition: color .1s linear;
}

.Nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: #552e1d;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.Nav_link:hover{
    color: #552e1d;
    text-decoration: none;
}

/*Difference after click*/
.Nav_link:hover:after{
    opacity: 1;
}