.EditUser_Main{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EditUser_content{
    padding: 30px;
    border-radius: 12px;
    background-color: #f7f2e8;
    height: 500px;
    width: 600px;
    padding-top: 10px;

}

.EditUser_Info{
    height: 150px;
    width: 600px;
    font-size: 20px;

}

.EditUser_Input_blok{
    height: 50px;
    width: 550px;
    background-color: #ebd18e67;
}

.EditUser_Input{
    height: 50px;
    width: 550px;
    background-color: #ebd18e67;
    border: none;
    font-size: 18px;
}

.EditUser_Add_button{
    background-color: #F4ECDC;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    margin-left: 140px;
    margin-top: 200px;
    font-size: 20px;

}

.Close_button{
    text-align: right;
}


